* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #ffc904;
}